* {font-family: Arial, Helvetica, sans-serif;
line-height: 20px;
font-size: 15px;}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*agar pas pindah bar hitam ke putih efeknya halus*/
}

body{
    margin: 0;
    padding: 0;
}

main {
    padding: 0 100px;
}
.layar-dalam {
    margin: auto;
}

nav .layar-dalam {
    padding: 0 100px;
}


.layar-penuh{
    padding: 100px 0;
    display: flex;
}

.intro {
    flex-grow: 1;
}

canvas {
    width: 200px;
}

/* #webcam {
    width: 500px;
    height: 500px;
}

.video {
    width: 600px;
    height: 500px;
    border: 3px  solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
} */

/*Pengaturan ilutrasi gambar pada beranda*/
.ilustrasi {
    flex-grow: 1;
    text-align: right;
}

.ilustrasi img {
    text-align: center;
   
}

/* Pengaturan Nav Bar*/
nav{
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0,5s ease;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

    
}

nav.putih{
    background-color: #fff;

}

nav.putih .tombol-menu .garis{
    background-color: #333;
}
nav .logo{
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img {
    width: 120px;
    vertical-align: middle;
}

nav .menu{
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li{
    list-style-type: none;
    float: left;
    line-height: 60px;  
}

nav ul li a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*pengaturan header dan Beranda*/
header{
    position: relative;
}

.intro {
    flex-grow: 1;
    margin-left: 30px;
}

.intro h4 {
    font-size: 40px;
    font-weight: 600;
}

.intro .deskripsi {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.tombol {
    background-color: #0E67A3;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius:4px ;
}

.tombol-menu{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis{
    height: 3px;
    background-color: white;
}

section{
    padding: 50px 0px 50px 0px;
}

section h3 {
    font-size: 30px;
}

section h3::after{
    content: "";
    border-bottom: 5px solid #0E67A3;
    width: 52px;
    display: block;
    margin: 20px auto;
}


nav.putih{
    background-color: #fff;
}

nav.putih .tombol-menu .garis  {
    background-color: #333;
}
nav.putih ul li a{
    color: #333;
}
section p.ringkasan{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #ababab;
}

nav .logo img.hitam{
    display: none;
}

/*Pengaturan Tentang Kami*/
.tentangKami {
    padding-top: 10px;
    padding-bottom: 50px;
}
.tentangKami .containerTM {
    display: flex;
}
.tentangKami .paragraf{
    text-align: justify;
    font-size: 50px;
    font-weight: 500px;
    margin-bottom: 100px;
}
.foto {
    flex-grow: 1;
    width: 700px;
    justify-content: center;
    align-self: center;
} 

.foto img {
    width: 500px;
    margin: 10px;
    padding-right: 30px;
}

/*Pngaturan TIM KAMI*/
.timKami {
    padding: 0 100px;
}

.timKami .column {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.timKami .column div {
    padding: 30px;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 50%;
    text-align: center;
}
.timKami .column div img {
    width: 115px;
    height: 110px; 
    border-radius: 50%; 
}

.timKami .column div h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    
}

.timKami .column div p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}


/*Pengaturan Deteksi*/

.d-none {
    display: none;
  }
  
.video{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
}

.tombol-deteksi{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-right : 10px;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color:white;
}

#prediksi{
    max-width: 600px;
    height: 300px;
    margin: auto;
    background-color: #BBDEFB;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Pengaturan Artikel*/
.artikel{
    padding: 10px;
}

.container {
    box-sizing: border-box;
    min-height: 83vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 0.2em;
  }
  .card {
    margin: 0.5em 1.2em 0.5em 0.1em;
    height: 14em;
    max-width: 99%;
    flex: 1 1 auto;
    display: flex;
    background-color: white;
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
    border-radius: 15px;
  }
  .card img {
    height: 100%;
    max-width: 10em;
    -o-object-fit: cover;
       object-fit: cover;
    flex: 1 1 auto;
    border-radius: 15px 0 0 15px;
  }
  .card-body {
    width: 12em;
    max-height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 1em;
  }
  .card-body a {
    min-width: 8.3em;
    flex: none;
    align-self: flex-start;
    margin-top: auto;
    padding: 0.6em 1.2em;
    font-size: 0.92em;
    color: #404646;
    background: none;
    border: 0.5px solid #777;
    border-radius: 5px;
  }
  .card-body a:hover {
    border-color: #BBDEFB;
    background:#BBDEFB;
  }
  .card-text {
    position: relative;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0.8em 0;
    padding: 0;
  }
  .card-text h2, .card-text p {
    margin-top: 0;
  }
  .card-text:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1em;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
  }

/*pengeturan footer*/
footer{
    padding: 40px 100px;
    background-color: #086A35;
    color: #fff;
}

footer .layar-dalam{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .layar-dalam div{
    width: 20%;
    flex-grow: 1;
}

footer .layar-dalam h5{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

footer .layar-dalam .copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
}

/**/
.collapsible {
    background-color: rgb(7, 7, 7);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
/*PENGATURAN LAYAR AGAR KONTEN MENYESUAIKAN*/
@media  screen and (max-width : 991.98px) {
    .ilustrasi {
        display: none;
    }
    .foto {
        display: none;
    } 
    .deskripsi {
        padding: none;
        margin: none;
    }
    main{
        padding: 0 10px;
    }
    footer .layar-dalam{
        display: block;
        width: auto;
    }
    
    .container {
        padding: 0 10px;
    }
    .timKami .column {
        display: inline;
    }

    .timKami {
        padding: 0 10px;
        display: inline;
        
    }
    
    .tentangKami {
        padding: 0 10px;
    }

    nav .layar-dalam {
        padding: 0 10px;
    }
    
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li{
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: white;
        line-height: 40px;
    }
    nav .menu ul li a{
        color: #333;
    }
    .tombol-menu{
        display: flex;
    }
    
}